/* Couleur */
@font-face {
  font-family: "DM Sans";
  /* src: url('/polices/DMSans-Regular.woff2') format('woff2'),
      url('/polices/DMSans-Regular.woff') format('woff');  */
  src: url("polices/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
}

p {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
}

label {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
}

html {
  margin-left: 4%;
  margin-right: 4%;
}
@media only screen and (max-width: 800px) {
  html {
    margin: 0;
  }
}

body {
  margin: 0;
  justify-content: center;
}

header {
  display: flex;
  height: 120px;
  justify-content: center;
}

.logo {
  position: absolute;
  left: 100px;
  top: 42px;
}
.logo img {
  width: 200px;
}
@media only screen and (max-width: 800px) {
  .logo img {
    width: 150px;
  }
}
@media only screen and (max-width: 800px) {
  .logo {
    left: 20px;
    top: 40px;
  }
}

h1 {
  position: absolute;
  right: 117px;
  top: 32px;
  color: #901C1C;
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 14px;
    right: 22px;
    top: 57px;
  }
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 55px;
  margin-right: 50px;
  cursor: pointer;
}
@media only screen and (max-width: 1600px) {
  .tagList {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 800px) {
  .tagList {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 800px) {
  .tagList p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
  }
}

.tags {
  color: #a52020;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  border: 0.5px solid #dedede;
  border-radius: 30px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 3px;
}
.tags:hover {
  border-color: #901C1C;
  background-color: #901C1C;
  color: #FAFAFA;
}

.photographes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}
@media only screen and (max-width: 800px) {
  .photographes {
    justify-content: center;
  }
}

.detailsPhotographes {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 450px;
  margin-bottom: 50px;
}
.detailsPhotographes a {
  text-decoration: none;
}
.detailsPhotographes a img {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.detailsPhotographes a h2 {
  color: #D3573C;
  margin-top: 10px;
  margin-bottom: 0px;
}
.detailsPhotographes h3 {
  color: #b22323;
  margin-top: 0px;
  margin-bottom: 5px;
}
.detailsPhotographes p {
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.detailsPhotographes .price {
  font-size: 10px;
  color: #787878;
  margin-top: 3px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 1600px) {
  .detailsPhotographes {
    width: 350px;
  }
}

.photographe {
  display: flex;
  position: relative;
  align-items: center;
  height: 313px;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.photographe .contacter {
  width: 170px;
  height: 69px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  background-color: #901C1C;
  color: #FAFAFA;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  position: absolute;
  font-size: 20px;
  left: 35%;
  top: 63px;
}
.photographe .contacter:hover {
  background-color: #D3573C;
  color: black;
}
@media only screen and (max-width: 900px) {
  .photographe .contacter {
    position: fixed;
    z-index: 1;
    text-align: center;
    height: 35px;
    font-size: 18px;
    top: inherit;
    bottom: 40px;
    left: 50%;
    margin-left: -85px;
  }
}
.photographe img {
  position: absolute;
  right: 50px;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
@media only screen and (max-width: 800px) {
  .photographe img {
    width: 150px;
    height: 150px;
    right: 30px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .photographe img {
    width: 100px;
    height: 100px;
    right: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .photographe {
    position: static;
    background-color: inherit;
    align-items: flex-start;
    height: 150px;
  }
}

.informations {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}
.informations p {
  margin: 0;
}
.informations .name {
  font-size: 50px;
  color: #D3573C;
}
@media only screen and (max-width: 500px) {
  .informations .name {
    font-size: 32px;
  }
}
.informations .city {
  margin-top: 5px;
  font-size: 20px;
  color: #a52020;
}
@media only screen and (max-width: 500px) {
  .informations .city {
    font-size: 14px;
  }
}
.informations .tagline {
  margin-top: 20px;
  font-size: 16px;
}
@media only screen and (max-width: 500px) {
  .informations .tagline {
    margin-top: 5px;
    font-size: 14px;
    color: #858585;
  }
}
.informations .myTags {
  margin-top: 20px;
  font-size: 16px;
}
@media only screen and (max-width: 500px) {
  .informations .myTags {
    margin-top: 20px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px) {
  .informations {
    margin-left: 20px;
  }
}

.medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.medias h2 {
  font-size: 18px;
  font-weight: 700;
  margin-right: 20px;
}
@media only screen and (max-width: 800px) {
  .medias h2 {
    display: none;
  }
}
.medias .tri {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
}
@media only screen and (max-width: 800px) {
  .medias .tri {
    display: none;
  }
}

.dropdown {
  position: relative;
  margin-top: 8px;
}
.dropdown .trier {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  width: 170px;
  height: 69px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  background-color: #901C1C;
  color: #FAFAFA;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  height: 70px;
  z-index: 1;
  overflow: hidden;
  padding-left: 10px;
}
.dropdown .trier:hover {
  background-color: #D3573C;
  color: black;
}
.dropdown .trier p {
  height: 40px;
  width: 150px;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
  padding-left: 10px;
}
.dropdown .trier .border {
  border-bottom: 1px solid white;
}
.dropdown .trier i {
  position: absolute;
  right: 20px;
  top: 25px;
  margin-left: 20px;
}
.dropdown .trier .rotate {
  transform: rotate(180deg);
}
@media only screen and (max-width: 800px) {
  .dropdown .trier {
    display: none;
  }
}
.dropdown .trier:hover {
  background-color: #901C1C;
  color: white;
}
.dropdown .trier:hover p {
  color: white;
}
.dropdown .trier :nth-child(0n+1) {
  margin-top: 20px;
}
.dropdown .open {
  height: 180px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
}
.photos .detailsMedia {
  position: relative;
  margin: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.photos .detailsMedia img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .photos .detailsMedia img {
    width: 335px;
    height: 190px;
  }
}
.photos .detailsMedia video {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .photos .detailsMedia video {
    width: 335px;
    height: 190px;
  }
}
.photos .detailsMedia h2 {
  color: #901C1C;
  font-weight: 500;
  margin: 0;
  margin-top: 5px;
}
@media only screen and (max-width: 800px) {
  .photos .detailsMedia h2 {
    display: inherit;
  }
}
.photos .detailsMedia p {
  position: absolute;
  right: 0;
  bottom: -15px;
  color: #901C1C;
  font-weight: 700;
}
.photos .detailsMedia p i {
  color: #901C1C;
  margin-left: 5px;
}
@media only screen and (max-width: 500px) {
  .photos .detailsMedia p {
    bottom: -48px;
  }
}
@media only screen and (max-width: 500px) {
  .photos .detailsMedia {
    width: 335px;
    height: 190px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 1500px) {
  .photos {
    justify-content: center;
  }
}

.prix {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: #e18d7a;
  width: 376px;
  height: 70px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 0px;
  right: 36px;
}
.prix p {
  position: absolute;
  right: 40px;
  font-weight: bold;
  font-size: 20px;
}
.prix .likes {
  position: static;
  font-size: 20px;
  margin-left: 40px;
  margin-right: 10px;
}
@media only screen and (max-width: 900px) {
  .prix {
    display: none;
  }
}

/*---------------------- PARTIE MODAL --------------------*/
.bground {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.modal {
  position: relative;
  width: 100%;
  max-width: 500px;
  background: #e18d7a;
  border-radius: 3px;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  color: #fff;
  padding-top: 15px;
}
.modal h2 {
  margin: 0;
  margin-left: 25px;
  color: black;
  font-weight: 400;
}
.modal-body {
  padding: 15px 5%;
  margin: auto;
  margin-bottom: 10px;
}
.modal-body label {
  color: #312E2E;
}
.modal-body input {
  margin: 3px 0px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.modal-body .message {
  height: 100px;
}
.modal-body .envoyer {
  width: 170px;
  height: 69px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  background-color: #901C1C;
  color: #FAFAFA;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  width: 150px;
  height: 55px;
  margin-top: 20px;
}
.modal-body .envoyer:hover {
  background-color: #D3573C;
  color: black;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(1);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}

.carrousel {
  position: relative;
  padding-top: 10px;
  margin: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}
.carrousel-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 900px;
  height: 800px;
}
.carrousel-body img {
  width: 700px;
  height: 700px;
  margin-bottom: -50px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .carrousel-body img {
    width: 335px;
    height: 190px;
  }
}
.carrousel-body video {
  width: 700px;
  height: 700px;
  margin-bottom: -50px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .carrousel-body video {
    width: 335px;
    height: 190px;
  }
}
.carrousel-body h2 {
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  margin-left: 100px;
  color: #901C1C;
}

.arrow-left {
  position: absolute;
  font-size: 50px;
  color: #901C1C;
  left: 40px;
  top: 45%;
  bottom: 50%;
  cursor: pointer;
}

.arrow-right {
  position: absolute;
  font-size: 50px;
  color: #901C1C;
  right: 40px;
  top: 45%;
  bottom: 50%;
  cursor: pointer;
}

.closeCarrousel {
  position: absolute;
  right: 15px;
  top: 50px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(1);
}

.closeCarrousel:before,
.closeCarrousel:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #901C1C;
}

.closeCarrousel:before {
  transform: rotate(45deg);
}

.closeCarrousel:after {
  transform: rotate(-45deg);
}

/*# sourceMappingURL=style.css.map */
