/* Couleur */
html {
  margin-left: 4%;
  margin-right: 4%;
}
@media only screen and (max-width: 800px) {
  html {
    margin: 0;
  }
}

body {
  margin: 0;
  justify-content: center;
}

@font-face {
  font-family: "DM Sans";
  src: url("../../polices/DMSans-Regular.woff2") format("woff2"), url("../../polices/DMSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
}

h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
}

h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
}

p {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
}

header {
  display: flex;
  height: 150px;
  justify-content: center;
}

.logo {
  position: absolute;
  left: 100px;
  top: 42px;
}
.logo img {
  width: 200px;
}
@media only screen and (max-width: 800px) {
  .logo img {
    width: 150px;
  }
}
@media only screen and (max-width: 800px) {
  .logo {
    left: 20px;
    top: 40px;
  }
}

h1 {
  position: absolute;
  right: 117px;
  top: 30px;
  color: #901C1C;
}
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 14px;
    right: 22px;
    top: 57px;
  }
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 55px;
  margin-right: 50px;
}
@media only screen and (max-width: 1600px) {
  .tagList {
    margin-top: 120px;
  }
}
@media only screen and (max-width: 800px) {
  .tagList {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 800px) {
  .tagList p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
  }
}

.tags {
  color: #a52020;
  font-family: "DM Sans";
  font-weight: bold;
  border: 0.5px solid #dedede;
  border-radius: 30px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 3px;
}
.tags:hover {
  border-color: #901C1C;
  background-color: #901C1C;
  color: #FAFAFA;
}

.photographes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}
@media only screen and (max-width: 800px) {
  .photographes {
    justify-content: center;
  }
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 450px;
  margin-bottom: 50px;
}
article img {
  border-radius: 100px;
  width: 200px;
  height: 200px;
}
article h2 {
  color: #D3573C;
  margin-top: 10px;
  margin-bottom: 0px;
}
article h3 {
  color: #b22323;
  margin-top: 0px;
  margin-bottom: 5px;
}
article p {
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
}
article .price {
  font-size: 10px;
  color: #787878;
  margin-top: 3px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 1600px) {
  article {
    width: 350px;
  }
}

.photographer {
  display: flex;
  position: relative;
  height: 313px;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.photographer .contacter {
  width: 170px;
  height: 69px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  background-color: #901C1C;
  color: #FAFAFA;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  position: absolute;
  font-size: 20px;
  left: 35%;
  top: 63px;
}
.photographer .contacter:hover {
  background-color: #D3573C;
  color: black;
}
@media only screen and (max-width: 800px) {
  .photographer .contacter {
    height: 35px;
    font-size: 18px;
    left: 30%;
    top: inherit;
    bottom: 40px;
  }
}
@media only screen and (max-width: 800px) {
  .photographer {
    position: static;
    background-color: inherit;
  }
}

.photo {
  display: flex;
}
.photo h2 {
  font-size: 18px;
  font-weight: 700;
}
@media only screen and (max-width: 800px) {
  .photo h2 {
    display: none;
  }
}
.photo .trier {
  width: 170px;
  height: 69px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  background-color: #901C1C;
  color: #FAFAFA;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 8px;
}
.photo .trier:hover {
  background-color: #D3573C;
  color: black;
}
.photo .trier i {
  margin-left: 20px;
}
@media only screen and (max-width: 800px) {
  .photo .trier {
    display: none;
  }
}

.prix {
  position: absolute;
  background-color: #e18d7a;
  width: 376px;
  height: 70px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 0px;
  right: 36px;
}
@media only screen and (max-width: 800px) {
  .prix {
    display: none;
  }
}

.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.modal {
  width: 100%;
  max-width: 500px;
  background: #e18d7a;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  color: #fff;
}
.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

/*# sourceMappingURL=style.css.map */
