h1 {
    position: absolute;
    right: 117px;
    top: 30px;
    color: $color-primary;
    @media only screen and (max-width: 800px) {
        font-size: 14px;
        right: 22px;
        top: 57px;
    }
}

.tagList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 55px;
    margin-right: 50px;
    @media only screen and (max-width: 1600px) {
        margin-top: 120px;
    }
    @media only screen and (max-width: 800px) {
        margin-right: 0px;
    }
    p {
        @media only screen and (max-width: 800px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 500px;
        }
    }
}

.tags {
    color: lighten($color-primary, 5%);
    font-family: 'DM Sans';
    font-weight: bold;
    border: 0.5px solid lighten($color-grey, 55%);
    border-radius: 30px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 3px;
    &:hover {
        border-color: $color-primary;
        background-color: $color-primary;
        color: $color-white;
    }
}

.photographes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
    @media only screen and (max-width: 800px) {
        justify-content: center;
    }
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 450px;
    margin-bottom: 50px;
    a {
        text-decoration: none;
        img {
            border-radius: 100px;
            width: 200px;
            height: 200px;
        }
        h2 {
            color: $color-secondary;
            margin-top: 10px;
            margin-bottom: 0px;
        }
    }    
    h3 {
        color: lighten($color-primary, 8%);
        margin-top: 0px;
        margin-bottom: 5px;
    }
    p {
        font-size: 11px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .price {
        font-size: 10px;
        color: lighten($color-grey, 15%);
        margin-top: 3px;
        margin-bottom: 5px;
    }
    @media only screen and (max-width: 1600px) {
        width: 350px;
    }
}




