header {
    display: flex;
    height: 120px;
    justify-content: center;
}

.logo {
    position: absolute;
    left: 100px;
    top: 42px;
    img {
        width: 200px;
        @media only screen and (max-width: 800px) {
            width: 150px;
        }
    }
    @media only screen and (max-width: 800px) {
        left: 20px;
        top: 40px;
    }
    
}

.focusLogo:focus {
    border: 1px $color-primary solid;
    font-size: 50px;
}